.hero .button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--alt-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-nav button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--team-bg);
  cursor: pointer;
  border: none;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--alt-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button-nav__item {
  margin-left: 8px;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 15px;
  }
}

.footer-subscribe__button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 35px;
  padding-left: 29px;
  padding-right: 28px;
  color: var(--alt-title-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  & .footer-subscribe__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
  }
}

.menu-button {
  position: absolute;
  right: 0;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
