.form-modal__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-modal {
  display: block;
  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.field {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--alt-text-color);
}

.field input {
  width: 370px;
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:focus ~ .form-list__icon {
    fill: var(--accent-color);
  }

  &:hover ~ .form-list__icon {
    fill: var(--accent-color);
  }
}

.field textarea {
  box-sizing: border-box;
  width: 370px;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.feedback {
  padding: 12px 16px;
}

.icon-checkbox {
  background-image: url(../images/icons/checkbox.svg);
  display: inline-block;
  position: relative;
  top: 3px;
  width: 16px;
  height: 15px;
}

.checkbox:checked + .icon-checkbox {
  fill: none;
  background-origin: border-box;
  background-image: url(../images/icons/iconcheck.svg);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.checkbox:focus + .icon-checkbox {
  fill: none;
  background-origin: border-box;
  background-image: url(../images/icons/iconcheck.svg);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.form-modal__checkbox {
  margin-top: 15px;
  display: inline-block;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    font-size: 14px;
    line-height: 24px;
  }
}

.checkbox-text {
  margin-left: 5px;
}

.form-modal__submit {
  position: absolute;
  right: 125px;
  bottom: 40px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--alt-title-color);
  cursor: pointer;

  @media screen and (max-width: 1199px) {
    right: 125px;
  }

  @media screen and (min-width: 1200px) {
    right: 164px;
  }
}

.form-list__field {
  position: relative;

  & .form-list__icon {
    position: absolute;
    left: 12px;
    top: 30px;
    width: 18px;
    height: 18px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-link {
  color: var(--accent-color);
  text-decoration: underline;
}
