.hero .hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-family: var(--main-font);
  font-weight: 900;
  max-width: 696px;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-color);

  @media screen and (min-width: 768px) {
    font-size: 42px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.gallery-list .section-title {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.features__title {
  font-size: 0;
  margin: 0;
  color: var(--second-bg);
}

.features-list__item .features-list__title {
  font-family: var(--main-font);
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    text-align: inherit;
  }

  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
}

.footer-subscribe .footer-subscribe__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-list .team__title {
  padding-bottom: 10px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.clients .section-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
