html {
  box-sizing: border-box;
  background-color: var(--alt-title-color);
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--alt-title-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
