.features-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-bg);
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-bg);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.features-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features-list__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: block;
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
