:root {
  --main-text-color: #212121;
  --title-color: #212121;
  --accent-color: #2196f3;
  --alt-text-color: #757575;
  --alt-title-color: #ffffff;
  --dark-bg: #2f303a;
  --team-bg: #f5f4fa;
  --second-bg: #e5e5e5;
  --social-icons: #afb1b8;
}
