.clients-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients-list__item {
  margin-right: 30px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--social-icons);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .clients-list__icon,
  &:focus .clients-list__icon {
    fill: var(--accent-color);
  }
}

.clients {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
