.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * 15px);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * 15px);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients-list__item {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--social-icons);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .clients-list__icon,
  &:focus .clients-list__icon {
    fill: var(--accent-color);
  }
}

.clients {
  text-align: center;
  font-family: var(--main-font);
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
