.footer .link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts {
  display: block;
  margin-right: 70px;
}

.footer-subscribe {
  display: block;

  & input {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 358px;
    height: 50px;
    margin-top: 20px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--alt-title-color);
    background-color: var(--dark-bg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}

.footer-subscribe .subscribe-block {
  display: block;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
