.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work {
  padding-bottom: 94px;
}

.clients {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--alt-title-color);
}

.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
